debian/stsbl-iserv-send-mail-as-group/*
debian/stsbl-iserv-send-mail-as-group.debhelper.log
debian/stsbl-iserv-send-mail-as-group.substvars
debian/files
debian/debhelper-build-stamp
/Makefile.iservmake
/locale
/system-locale
!/locale/templates/*_misc.pot
/public/assets
/.php-cs-fixer.cache
