Source: stsbl-iserv-send-mail-as-group
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9), iserv3-dev, iserv3-dev
Standards-Version: 3.9.5
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-send-mail-as-group

Package: stsbl-iserv-send-mail-as-group
Architecture: all
Depends: iserv-portal, stsbl-iserv3-maintenance, libfile-mimeinfo-perl
Description: E-Mails im Namen einer Gruppe versenden für IServ 
 Erlaubt es ausgewählten Benutzern eine E-Mail mit der E-Mail-Adresse einer Gruppe in der sie Mitglied sind, zu versenden.
Tag: suite::iserv:portal, role::plugin, implemented-in::php, implemented-in::perl 
