Source: stsbl-iserv-send-mail-as-group
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13), dh-sequence-iserv, dh-sequence-stsbl
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-send-mail-as-group

Package: stsbl-iserv-send-mail-as-group
Architecture: all
Depends: iserv-portal,
         iserv3-crud (>= 21.05.27),
         libfile-mimeinfo-perl,
         stsbl-iserv3-maintenance,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: E-Mails im Namen einer Gruppe versenden für IServ
 Erlaubt es ausgewählten Benutzern eine E-Mail mit der E-Mail-Adresse
 einer Gruppe in der sie Mitglied sind, zu versenden.
Tag: suite::iserv:portal, role::plugin, implemented-in::php, implemented-in::perl
