Source: stsbl-iserv-send-mail-as-group
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 10),
Build-Depends-Indep: iserv-buildtools
Standards-Version: 4.1.3
Homepage: https://it.stsbl.de/documentation/mods/stsbl-iserv-send-mail-as-group

Package: stsbl-iserv-send-mail-as-group
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
  libfile-mimeinfo-perl,
  stsbl-iserv3-maintenance,
Xb-Private-IServ-Revision: ${iserv:Revision}
Description: E-Mails im Namen einer Gruppe versenden für IServ 
 Erlaubt es ausgewählten Benutzern eine E-Mail mit der E-Mail-Adresse
 einer Gruppe in der sie Mitglied sind, zu versenden.
Tag: suite::iserv:portal, role::plugin, implemented-in::php, implemented-in::perl 
